<html>
	<head>
		<style> 
			h1{padding-left: 150px;}
			p{padding-left: 150px;}
			ul{padding-left: 165px;}
			.bookmark{
				height: 50px;
				width: 450px;
				background: #FF9999;
				padding-left: 100px;
				padding-right: 60px;
				padding-top:20px;
				margin-left: 200px;
			}
		</style>
	<title> FB Photo Album Downloader </title>
	<h1> Welcome to the Facebook Photo Album downloader </h1>
	</br>
	</br>
</head>

<body bgcolor="#E6E6FA">

	<div class="bookmark">
	<a href="javascript:(function(){%20var%20ss%20=%20document.createElement('script');%20ss.type%20=%20'text/javascript';%20ss.src%20=%20'http://additback.com/fb_album_dload_script.js';%20document.getElementsByTagName('head')[0].appendChild(ss);%20})();">FB Album Downloader </a> &lt;---- Drag to bookmark.
	</div>

	</br> </br>

	<p> Now you can download your whole Facebook album in just one click.
  </br>	It is very simple, just follow the given steps: </p>
	<ul>
	<li> Drag the above given link among your bookmarks tab. </li>
	<li> Open your Facebook Album. </li>
	<li> Click on your bookmark (FB Album Downloader) </li>
	</ul>
	<p> Your album in a '.zip' folder will start downloading. </p>
	
	

</body>
</html>
